:root {
    --base-border-color: rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
}

main {
    margin: auto;
    height: 640px;
    width: 600px;
}

main header {
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 5px;
}
main header button {
    padding: 0 10px;
    border: 1px solid  rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: white;
    color: black;
}

main canvas {
    display: block;
}

